{% extends 'partials/base.html' %}

{% block content %}
    <div class="container my-3">
        <form action='/create' method="POST">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="fullname">Full name</label>
                        <input type="text" placeholder="Student Full name" class="form-control" name="fullname"
                               required/>
                    </div>

                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input type="date" class="form-control" name="birthday" required/>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Place of Birth</label>
                        <input type="text" placeholder="Place of Birth" class="form-control" name="place_of_birth"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="computer_nbr">Computer Number</label>
                        <input placeholder="Computer Number" class="form-control" type="text" name="computer_nbr"/>
                    </div>
                    <div class="form-group">
                        <label for="computer_nbr">Select an Activity</label>

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select an activity</option>
                            {% for activity in activities %}
                                <option value="{{ activity }}" name="activity_type">{{ activity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date of The inscription</label>
                        <input type="date" class="form-control" name="inscription_date" required/>
                    </div>
                    <div class="form-group">
                        <label for="sex">Sex</label>
                        <input class="form-control" type="text" name="sex"/>
                    </div>

                    <div class="form-group">
                        <label for="group">Group</label>
                        <input class="form-control" type="text" name="group" required/>
                    </div>

                    <div class="form-group">
                        <label for="parents_phone"> Parents Phone number</label>
                        <input class="form-control" type="text" name="parents_phone" required/>
                    </div>
                </div>
            </div>
            <button class="btn btn-success float-right" type="submit">Add Student</button>
        </form>
    </div>
{% endblock %}