{% extends 'partials/base.html' %}

{% block content %}
    <div class="mx-3">
        <h2 class="text-center my-5">All Students</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Place of birth</th>
                <th scope="col">Inscription date</th>
                <th scope="col">Group</th>
                <th scope="col">Activity Type</th>
                <th scope="col">PC Number</th>
                <th scope="col">Parents Phone</th>
                <th scope="col">Delete / Update</th>
            </tr>
            </thead>
            <tbody>
            {% for student in all_students %}

                <tr>
                    <th scope="row">{{ student.id }}</th>
                    <td><a href="{{ url_for('single_student', id=student.id) }}">
                        {{ student.fullname }}
                    </a>
                    </td>
                    <td>{{ student.birthday }}</td>
                    <td>{{ student.place_of_birth }}</td>
                    <td>{{ student.inscription_date }}</td>
                    <td>{{ student.group }}</td>
                    <td>{{ student.activity_type }}</td>
                    <td>{{ student.computer_nbr }}</td>
                    <td>{{ student.parents_phone }}</td>
                    <td>
                        <a href="{{ url_for('delete', id=student.id) }}">
                            <i class="bi bi-trash-fill text-danger mx-4"></i>
                        </a>
                        <a href="{{ url_for('update_student', id=student.id) }}">
                            <i class="bi bi-pencil-square text-success"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}